// $primary: #dad8d8;
$danger: #bf3c51;
$dark-bg: #231f20;
$dark: #231f20;
$dark-bg: #231f20;
$sidebar-w: 60px;

$gray-600: #605d5e;

// Allows for customizing button radius independently from global border radius
$btn-border-radius: 0;

$font-family-base: 'Gothic A1', -apple-system, BlinkMacSystemFont, Segoe UI,
  Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
  sans-serif;
