@import './_bootstrap';
@import './keyframes';

body,
html {
  height: 100%;
}
body {
  background-color: $dark-bg;
  color: #fff;
}

.Desk-App {
  display: flex;
} // Desk-App

.Fab__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 14;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
  background: radial-gradient(
    50%50% at 50% 50%,
    rgba(35, 31, 32, 0.6) 0%,
    rgba(35, 31, 32, 0.4) 14.83%,
    rgba(35, 31, 32, 0.4) 85.47%,
    rgba(35, 31, 32, 0.6) 100%
  );
}
.Dashboard,
.TrainingVideos {
  .img-thumb {
    background: url('./../images/thumbs/000.jpg') no-repeat center center;
    background-size: cover;
    position: absolute;
    left: var(--sidebar-w);
    top: 0;
    width: calc(100vw - var(--sidebar-w));
    height: 390px;
    &:after {
      content: '';
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(35, 31, 32, 0.013468) 0.01%,
        rgba(35, 31, 32, 0.4) 0.02%,
        #231f20 100%
      );
    }
  }

  .NavHeader {
    &:after {
      content: '';
      height: 13rem;
      display: block;
    }
  }
} // .Dashboard, .TrainingVideos
.Card__Dark {
  background-color: var(--dark);
  text-decoration: none !important;
  .card-title {
    font-size: 1.25rem;
    color: rgba(#fff, 0.8);
    margin-bottom: 0.25rem;
  }
  .card-text {
    color: rgba(#fff, 0.6);
  }
} // Card__Dark

:root {
  --sidebar-w: #{$sidebar-w};
}
